.recipe-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-gap: 20px;
  &__card {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    position: relative;

    h2 {
      color: #555;
      margin-bottom: 6px;
    }

    p {
      color: #999;
      font-size: 0.9em;
      margin-top: 15px;
    }
    a {
      color: #555;
      text-decoration: none;
      display: block;
      background: #e2e2e2;
      font-size: 0.9em;
      width: 100px;
      text-align: center;
      width: 120px;
      padding: 8px;
      border-radius: 4px;
      margin: 20px auto 0;
    }

    div {
      color: #555;
      font-size: 0.7em;
      margin: 20px 0;
      height: 40px;
      line-height: 1.5em;
    }
  }

  button.ant-btn:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    scale: 1.1;
  }

  button.ant-btn {
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 130px;
    bottom: 7px;
    height: 40px;
  }

  &__category {
    display: flex;
    justify-content: space-between;
    .add-button {
      margin-top: 25px !important;
      width: 100px !important;
    }
    div {
      background-color: var(--primary-color);
      border-radius: 20px;
      text-align: center;
      width: 105px;
      height: 25px !important;
      padding: 5px;
    }

    p {
      font-size: 13px !important;
      margin-top: 7px !important;
      opacity: 0.7;
      color: black !important;
    }
  }

  &__category-list {
    width: 100px;
    display: flex;
    margin: 0px !important;
    margin-bottom: 20px !important;
    /* grid-template-columns: repeat(auto-fit, minmax(50px, 0.5fr)); */
    grid-gap: 10px;
  }

  &__header {
    display: flex;
    height: 20px;
    margin-bottom: -15px !important;
    justify-content: space-between;
  }
}

.avatar {
  width: 50px;
  height: 50px !important;
  margin-top: -10px !important;
}
