.add-topic-form {
    max-width: 600px;
  }

  .add-topic-form-input {
    width: 150px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  .add-topic-form-input span{
    margin-left: 10px;
  }

  .add-topic-form-input-container {
    display: flex;
  }